@using Microsoft.AspNet.Identity
@using SquawCreekFinal.Models

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-info" style="margin-top: 5px">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        
        <a href="@Url.Action("Register", "Account")" class="btn btn-info" style="margin-top: 10px;">Register</a>
        <a href="@Url.Action("Login", "Account")" class="btn btn-success" style="margin-top: 10px;">Log in</a>
        
    </ul>
}
