<div class="container">
    <section>
        <div class="page-header text-center" id="rates">
            <h2>Course Rates & Membership<small></small></h2>
        </div>
    </section>
</div>
<div class="container">
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
        We are limiting our golf memberships to the first 200 people to sign up. To
        inquire about purchasing a membership, please contact the Squaw Creek Golf
        Course Pro Shop at 817-441-8185.
    </div>
</div>
<div class="container">
    <div class="panel panel-success">
        <div class="panel-heading text-center">Green Fees (Cart Rental Included).</div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td>Associate</td>
                        <td class="text-right">$42.00</td>
                    </tr>
                    <tr>
                        <td>Associate 60+ Weekday</td>
                        <td class="text-right">$38.00</td>
                    </tr>
                    <tr>
                        <td>Associate Weekday</td>
                        <td class="text-right">$48.00</td>
                    </tr>
                    <tr>
                        <td>Sponsored Guest Weekday</td>
                        <td class="text-right">$48.00</td>
                    </tr>
                    <tr>
                        <td>Sponsored Guest 60+ Weekday</td>
                        <td class="text-right">$42.00</td>
                    </tr>
                    <tr>
                        <td>Sponsored Guest Weekend</td>
                        <td class="text-right">$56.00</td>
                    </tr>
                    <tr>
                        <td>Junior/Student <br>(Weekday after 12 noon or with paid adult)</td>
                        <td class="text-right">$16.00</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading text-center">Practice Facility (Daily Range/Short-Game Drop-Ins)</div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td>Short Game Area</td>
                        <td class="text-right">$12.00</td>
                    </tr>
                    <tr>
                        <td>Range Balls for Individuals from Associate Companies</td>
                        <td class="text-right">$4.00</td>
                    </tr>
                    <tr>
                        <td>Range Balls for Sponsored Guests</td>
                        <td class="text-right">$6.00</td>
                    </tr>
                    <tr>
                        <td>Cart Fee for 18 Holes</td>
                        <td class="text-right">$13.00</td>
                    </tr>
                    <tr>
                        <td>Cart Fee for 9 Holes</td>
                        <td class="text-right">$9.00</td>
                    </tr>
                    <tr>
                        <td>Cart Fee for 9 Holes (3-somes and 5-somes)</td>
                        <td class="text-right">$6.50</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container">
    <div class="panel panel-warning">
        <div class="panel-heading text-center">Golf Membership Rates (Annual)</div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td>Associate Single</td>
                        <td class="text-right">$1924</td>
                    </tr>
                    <tr>
                        <td>Associate Family</td>
                        <td class="text-right">$2340</td>
                    </tr>
                    <tr>
                        <td>Associate 60+ Single (Tuesday-Friday)</td>
                        <td class="text-right">$1500</td>
                    </tr>
                    <tr>
                        <td>Associate 60+ Family of 2 (Tuesday-Friday)</td>
                        <td class="text-right">$1800</td>
                    </tr>
                    <tr>
                        <td>Sponsored Guest Single</td>
                        <td class="text-right">$2400</td>
                    </tr>
                    <tr>
                        <td>Sponsored Guest Family</td>
                        <td class="text-right">$3200</td>
                    </tr>
                    <tr>
                        <td>Sponsored Guest 60+ Single (Tuesday-Friday)</td>
                        <td class="text-right">$1924</td>
                    </tr>
                    <tr>
                        <td>Sponsored Guest 60+ Family of 2 (Tuesday-Friday)</td>
                        <td class="text-right">$2340</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container">
    <p class="text-left">
        Individuals from Associate Companies MUST
        provide proof of employment or retirement from Associate Company at
        time of purchase. Prices subject to change without notice.
    </p>
</div>
