<div class="container">
    <section>
        <div class="page-header" id="features">
            <center><h2>Welcome to Squaw Creek Golf Course</h2></center>
            
        </div>

        <div class="row top-buffer">
            <div class="col-lg-8">
                <h3>History of Squaw Creek</h3>
                <p>Squaw Creek Golf Course was built on land that was donated to the General Dynamics Recreation Association in 1969.</p>

                <p>Legendary course designer Ralph Plummer was hired to design the golf course with a total project cost of $1.1. million, including the clubhouse.</p>

                <p>In 2015 Colligan Golf Design was hired to do a major course renovation. Phase 1 was a state-of-the-art 14 acre practice facility complete with four short game practice greens and over 10,000 square feet of practice putting surface. The new driving range teeing area is more than triple its original size.</p>

                <p>In January of 2016 Colligan Golf Design began a major renovation of the course itself. Leaving the original layout intact, Colligan installed brand new USGA Mini Verde Bermuda greens, 419 Bermuda fairways and tees which include a new 4th set of tees that can shorten the course to 4800 yards.</p>

                <p>As Director of Golf, Lynn Vaughan, tells people when describing the renovation, “The layout is exactly the same…but every hole is different.”</p>

            </div>
            <div class="col-lg-4">
                <img src="~/Content/Images/golf-about1.jpg" class="img-responsive img-thumbnail center-block" alt="The ground breaking ceremony at Squaw Creek (1969)" title="The ground breaking ceremony at Squaw Creek (1969)">
            </div>
            
        </div>
        <hr>
        <div class="row top-buffer">
            <div class="col-lg-8">
                <h3>Course Records</h3>
                <p>Squaw Creek’s course record prior to 2016 renovation is jointly held by 7 players:</p>
                <ul>
                    <li>Gene Doelling - July 1980</li>
                    <li>Tommy Fincher - August 1981</li>
                    <li>Bobby Golightly - August 1986</li>
                    <li>Jeev Singh - May 1997</li>
                    <li>Jaxon Bringman - April 1999</li>
                    <li>Andy Hobson - April 2004</li>
                    <li>Dean Hayhurst - May 2012</li>
                </ul>
                <p>Squaw Creek course record after 2016 renovation has yet to be established. Come out and take your shot at history!</p>
            </div>
            <div class="col-lg-4">
                <img src="~/Content/Images/scgc04.jpg" class="img-responsive img-thumbnail center-block" alt="How Beginning Golfers Can Make Golf More Fun">
            </div>
        </div>
        <hr />
        <div class="row top-buffer">
            <div class="col-lg-8">
                <h3>Squaw Creek ScoreCard</h3>
                <p>Pending USGA rating.</p>
            </div>
        </div>
    </section>
    </div>
