@*THIS IS A HOLDER PAGE ONLY  *@





<div class="container">
    <section>
        <div class="page-header" id="features">
            <h2>Welcome to Squaw Creek Golf Course</h2>
        </div>

        <div class="row top-buffer">
            <div class="col-lg-8">
                <h3>About Squaw Creek</h3>
                <p>Squaw Creek Golf Course, named for the winding creek that comes into play on 12 of the 18 holes of this stunning design, is located in Willow Park, Texas, an easy 20 minute drive from downtown Fort Worth.</p>

                <p>Don’t let the yardage, somewhat short by today’s standards at 6958 yards, fool you.  Squaw Creek’s pecan tree lined fairways, beautiful 30 acre lake, winding creek, surprising elevation changes and tricky undulating greens offer plenty of challenges for the scratch golfer while being extremely enjoyable for all skill levels.</p>

                <p>Squaw Creek has hosted many Amateur, Collegiate, and Professional events including the PGA Tour Caddis Association Championship on four occasions.</p>

                <p>Named by the Dallas Morning News as “best bang for the buck” in Dallas/Fort Worth, Squaw Creek is the perfect place to call home for your next golf outing.</p>

                <p>Why Squaw Creek for your next outing? Besides a beautiful course, competitive rates, fully stocked pro shop, and a top of the line driving range and short game facility, Squaw Creek allows you to bring your own food and beverages, including alcohol.</p>

                <p>Need more information?  Please call our pro shop at 817-441-8185 and let our experienced staff schedule your next event.</p>
            </div>
            <div class="col-lg-4">
                <img src="~/Content/Images/scgc01.jpg" class="img-responsive img-thumbnail center-block" alt="image">
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-lg-8">
                <h3>How Beginning Golfers Can Make Golf More Fun</h3>
                <p>For a beginner, golf can be too competitive, stuffy, and very intimidating. There are way too many complicated rules and expectations. Relax. There may be a time when you want to keep score, know all the rules, or play in a tournament, but until that time comes, try these suggestions:</p>

                <ul>
                    <li>Don’t keep score.</li>
                    <li>Play from the short tees.</li>
                    <li>Only count shots when you hit the ball.</li>
                    <li>Play in your tennis shoes; be comfortable.</li>
                    <li>Move your ball away from trees and rocks.</li>
                    <li>Skip a hole if you need a break.</li>
                    <li>Just chip and putt if you want to.</li>
                    <li>Play with only a couple of clubs and a putter.</li>
                    <li>Enjoy the scenery.</li>
                    <li>Talk, tell jokes, laugh at each others’ bad shots.</li>
                    <li>Be enthusiastic! Give high fives!</li>
                    <li>Bring your kids.</li>
                    <li>Tee the ball up everywhere.</li>
                </ul>
                <p>Squaw Creek Golf Course offers “on course” lessons to help you feel more comfortable on the course. A member of our staff will go with you onto the course to learn basic etiquette and rules. These lessons are free of charge. Call us at 817-441-8185 and schedule yours today!</p>
            </div>
            <div class="col-lg-4">
                <img src="~/Content/Images/scgc02.jpg" class="img-responsive img-thumbnail center-block" alt="image">
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-lg-8">
                <h3>History of Squaw Creek</h3>
                <p>Squaw Creek Golf Course was built on land that was donated to the General Dynamics Recreation Association in 1969.</p>
                <p>Legendary course designer Ralph Plummer was hired to design the golf course with a total project cost of $1.1. million, including the clubhouse.</p>
                <p>In 2015 Colligan Golf Design was hired to do a major course renovation. Phase 1 was a state-of-the-art 14 acre practice facility complete with four short game practice greens and over 10,000 square feet of practice putting surface. The new driving range teeing area is more than triple its original size.</p>
                <p>In January of 2016 Colligan Golf Design began a major renovation of the course itself. Leaving the original layout intact, Colligan installed brand new USGA Mini Verde Bermuda greens, 419 Bermuda fairways and tees which include a new 4th set of tees that can shorten the course to 4800 yards.</p>
                <p>As Director of Golf, Lynn Vaughan, tells people when describing the renovation, “The layout is exactly the same…but every hole is different.”</p>
            </div>
            <div class="col-lg-4">
                <img src="~/Content/Images/golf-about1.jpg" class="img-responsive img-thumbnail center-block" alt="image">
                <h5>Above: The ground breaking ceremony at Squaw Creek (1969)</h5>
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-lg-8">
                <h3>Course Records</h3>
                <p>Squaw Creek’s course record prior to 2016 renovation is jointly held by 7 players:</p>

                <ul>
                    <li>Gene Doelling – July 1980</li>
                    <li>Tommy Fincher – August 1981</li>
                    <li>Bobby Golightly – August 1986</li>
                    <li>Jeev Singh – May 1997</li>
                    <li>Jaxon Brigman – April 1999</li>
                    <li>Andy Hobson – April 2004</li>
                    <li>Dean Hayhurst – May 2012</li>
                </ul>

                <p>Squaw Creek course record after 2016 renovation has yet to be established. Come out and take your shot at history!</p>
            </div>
            <div class="col-lg-4">
                <img src="~/Content/Images/scgc04.jpg" class="img-responsive img-thumbnail center-block" alt="image">
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-lg-4">
                <div class="panel panel-default text-center">
                    <div class="panel-body">
                        <span class="glyphicon glyphicon-flag"></span>
                        <h4>Heading 1</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<p />
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="panel panel-default text-center">
                    <div class="panel-body">
                        <span class="glyphicon glyphicon-flag"></span>
                        <h4>Heading 2</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="panel panel-default text-center">
                    <div class="panel-body">
                        <span class="glyphicon glyphicon-flag"></span>
                        <h4>Heading 3</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>

<div class="container">
    <section>
        <div class="page-header text-center" id="rates">
            <h2>Course Rates & Membership<small></small></h2>
        </div>
    </section>
</div>

<div class="container">
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
        We are limiting our golf memberships to the first 200 people to sign up. To
        inquire about purchasing a membership, please contact the Squaw Creek Golf
        Course Pro Shop at 817-441-8185.
    </div>
</div>

<div class="container">
    <div class="panel panel-success">
        <div class="panel-heading text-center">Green Fees (Cart Rental Included)</div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td>Associate</td>
                        <td class="text-right">$42.00</td>
                    </tr>
                    <tr>
                        <td>Associate 60+ Weekday</td>
                        <td class="text-right">$38.00</td>
                    </tr>
                    <tr>
                        <td>Associate Weekday</td>
                        <td class="text-right">$48.00</td>
                    </tr>
                    <tr>
                        <td>Sponsored Guest Weekday</td>
                        <td class="text-right">$48.00</td>
                    </tr>
                    <tr>
                        <td>Sponsored Guest 60+ Weekday</td>
                        <td class="text-right">$42.00</td>
                    </tr>
                    <tr>
                        <td>Sponsored Guest Weekend</td>
                        <td class="text-right">$56.00</td>
                    </tr>
                    <tr>
                        <td>Junior/Student <br>(Weekday after 12 noon or with paid adult)</td>
                        <td class="text-right">$16.00</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading text-center">Practice Facility (Daily Range/Short-Game Drop-Ins)</div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td>Short Game Area</td>
                        <td class="text-right">$12.00</td>
                    </tr>
                    <tr>
                        <td>Range Balls for Individuals from Associate Companies</td>
                        <td class="text-right">$4.00</td>
                    </tr>
                    <tr>
                        <td>Range Balls for Sponsored Guests</td>
                        <td class="text-right">$6.00</td>
                    </tr>
                    <tr>
                        <td>Cart Fee for 18 Holes</td>
                        <td class="text-right">$13.00</td>
                    </tr>
                    <tr>
                        <td>Cart Fee for 9 Holes</td>
                        <td class="text-right">$9.00</td>
                    </tr>
                    <tr>
                        <td>Cart Fee for 9 Holes (3-somes and 5-somes)</td>
                        <td class="text-right">$6.50</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container">
    <div class="panel panel-warning">
        <div class="panel-heading text-center">Golf Membership Rates (Annual)</div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td>Associate Single</td>
                        <td class="text-right">$1924</td>
                    </tr>
                    <tr>
                        <td>Associate Family</td>
                        <td class="text-right">$2340</td>
                    </tr>
                    <tr>
                        <td>Associate 60+ Single (Tuesday-Friday)</td>
                        <td class="text-right">$1500</td>
                    </tr>
                    <tr>
                        <td>Associate 60+ Family of 2 (Tuesday-Friday)</td>
                        <td class="text-right">$1800</td>
                    </tr>
                    <tr>
                        <td>Sponsored Guest Single</td>
                        <td class="text-right">$2400</td>
                    </tr>
                    <tr>
                        <td>Sponsored Guest Family</td>
                        <td class="text-right">$3200</td>
                    </tr>
                    <tr>
                        <td>Sponsored Guest 60+ Single (Tuesday-Friday)</td>
                        <td class="text-right">$1924</td>
                    </tr>
                    <tr>
                        <td>Sponsored Guest 60+ Family of 2 (Tuesday-Friday)</td>
                        <td class="text-right">$2340</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container">
    <p class="text-center">
        Individuals from Associate Companies MUST provide proof of employment
        or retirement from Associate Company at time of purchase. Prices subject to change without notice.
    </p>
</div>


<!--This is a bootstrap accordion which I can't seem to be able to get to working right-->
<div class="container">
    <section>
        <div class="page-header" id="faq">
            <h2>FAQ.<small>Common Inquiries</small></h2>
        </div>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <a href="#collapse-1" data-toggle="collapse" data-parent="#accordion">
                            Question #1
                        </a>
                    </div>
                    <div id="collapse-1" class="panel-collapse collapse">
                        <div class="panel-body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <a href="#collapse-2" data-toggle="collapse" data-parent="#accordion">
                            Question #2
                        </a>
                    </div>
                    <div id="collapse-2" class="panel-collapse collapse">
                        <div class="panel-body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <a href="#collapse-3" data-toggle="collapse" data-parent="#accordion">
                            Question #3
                        </a>
                    </div>
                    <div id="collapse-3" class="panel-collapse collapse">
                        <div class="panel-body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <a href="#collapse-4" data-toggle="collapse" data-parent="#accordion">
                            Question #4
                        </a>
                    </div>
                    <div id="collapse-4" class="panel-collapse collapse">
                        <div class="panel-body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <a href="#collapse-5" data-toggle="collapse" data-parent="#accordion">
                            Question #5
                        </a>
                    </div>
                    <div id="collapse-5" class="panel-collapse collapse">
                        <div class="panel-body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!--End of Bootstrap Accordion. Added scripts in the scripts section provided by Matt on the bottom -->



@section script{

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

}