<style>
.blog-main {
  font-size: 18px;
  line-height: 1.5;
  margin-top: -10px;
}
.blog-post {
  margin-bottom: 30px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 25px;
  color: #5BB85D;
}
.blog-post-meta {
  margin-bottom: 20px;
  font-size: 16px;
  color: #999;
}
.blog-sidebar {
  margin-top: 5px;
}
.pager {
  margin-bottom: 60px;
  text-align: center;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
  color: #5BB85D;
}
</style>

<div class="container">
    <div class="row">
        <div class="col-sm-9 blog-main">
            <div class="blog-post">
                <h2 class="blog-post-title">Latest Website Feature</h2>
                <p class="blog-post-meta">March 24, 2017 by <a href="#">Matt</a></p>
                <p>We've added a new feature that will allow our members to schedule a
                   tee time right on our website! To do so, click on "Book
                   Tee Time" at the top and select your desired date and
                   time. You will then be directed to a page to provide
                   additional reservation details before confirming the tee time. A
                   successful Tee Time booking will result in the following screen:</p>
                <hr>
                <img src="~/Content/Images/tee_time.jpg" alt="image" class="img-responsive img-thumbnail center-block"/>
                <hr>
                <p>The traditional means of reserving tee time slots have not been
                   replaced. Tee Times can still be booked in-person or via phone. We simply
                   wanted to provide the convenience of reserving a tee time slot on our
                   website. If you have any questions or concerns, please get in touch
                   with us.</p>
                <p>As always, thank you for being part of the Squaw Creek Community.</p>
            </div>

            <div class="blog-post">
                <h2 class="blog-post-title">DJ Eyeying Squaw Golf Course</h2>
                <p class="blog-post-meta">March 21, 2017 by <a href="#">Adriel</a></p>
                <p>AUSTIN, Texas – In his first event since winning the WGC-Mexico
                   Championship, Dustin Johnson said on Tuesday that he won’t have any
                   trouble finding new motivation this week. The Squaw Creek National is
                   the only golf tournament Dustin hasn’t won. Last year, he attempted to
                   play, but had to leave for a family emergency and forfeited his position.</p>
                <blockquote>“My family takes priority and that’s why I had to leave for this
                   emergency. My wife had just gone into labor with our third child so I
                   needed to be there to support her,” said Dustin.</blockquote>
                <p>This year, Dustin has a real chance at going for gold. His winning
                   streak makes him the most likely to win this year’s Squaw Creek National.</p>
                <blockquote>
                    “The few times I’ve golfed at this course, I’ve really enjoyed
                    myself. It provides a good challenge, yet is at a peaceful and beautiful
                    location. The third addition to our family will get to cheer me on from
                    the sidelines this year, instead of the womb,” Johnson said.</blockquote>
                <p>Johnson plays Webb Simpson on Day 1 in Austin and Jimmy Walker on Friday. 
                    He beat Walker, 2 and 1, on Day 3 to advance to the Sweet 16 last year.</p>
                <p>Referenced article: <a href="http://www.golfchannel.com/news/golf-central-blog/dj-eyeing-only-wgc-event-he-hasnt-won/">http://www.golfchannel.com/news/golf-central-blog/dj-eyeing-only-wgc-event-he-hasnt-won/</a>
            </div>

            <div class="blog-post">
                <h2 class="blog-post-title">Taylor Made Sponsors Squaw Creek National</h2>
                <p class="blog-post-meta">March 16, 2017 by <a href="#">Adriel</a></p>
                <p>Squaw Creek Golf Course is proud to announce Taylor Made’s decision to
                   sponsor the Squaw Creek Nationals this April. Communications between
                   Taylor Made and Squaw Creek have been on-going for quite some time.
                   Taylor Made’s decision comes at a perfect time, with the Nationals being
                   2 months away.</p>
                <p>Taylor Made completes the list of sponsorships, putting Squaw creek
                   into full swing! The grand prize for first place in the game will
                   receive a complete set of clubs and sponsorship from Taylor Made in
                   addition to the $25,000 posted by the other amazing sponsors of the
                   game. Squaw Creek will be hosting a giveaway of several high-end Taylor
                   Made golf clubs. Details will be coming out soon.</p>
                <p>We extend our deepest thanks to all our sponsors of the Squaw Creek
                   Nationals!</p>
            </div>

            <div class="blog-post">
                <h2 class="blog-post-title">Dreams Of Squaw Creek – Relaxation Weekends</h2>
                <p class="blog-post-meta">March 9, 2017 by <a href="#">Adriel</a></p>
                <p>Squaw Creek Golf Course offers an amazing getaway location for those
                   that stay. Beautiful scenery all around, the golf course offers a
                   wonderful area for the golf enthusiast. There are 18 holes in total and
                   each one offers its own unique challenge. There are two small lakes that
                   offer a challenge across four holes.</p>
                <p>At the end of the day, golfers can head over to the Caddy Shack Bar and
                   Grill to enjoy wonderful food, made by a top chef in the US. There is
                   also a hotel resort within 5 minutes walking distance for those that
                   can’t drive off the premises.</p>
                <p>For those that wish to bring their families, there are many options for
                   having fun! Squaw Creek also offers an amazing family plan on golf
                   lessons. If you’re not a fan of the long shot, you can always enjoy
                   some putt-putt.</p>
                <p>We hope you will come and stay soon!</p>
            </div>

            <nav>
                <ul class="pager">
                    <li><a href="#">Previous</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </nav>

        </div>
        <div class="col-sm-2 col-sm-offset-1 blog-sidebar">
            <h4 style="color: #5BB85D;">Archives</h4>
            <ol class="list-unstyled">
                <li><a href="#">February 2017</a></li>
                <li><a href="#">January 2017</a></li>
                <li><a href="#">December 2016</a></li>
                <li><a href="#">November 2016</a></li>
                <li><a href="#">October 2016</a></li>
                <li><a href="#">September 2016</a></li>
                <li><a href="#">August 2016</a></li>
                <li><a href="#">July 2016</a></li>
                <li><a href="#">June 2016</a></li>
                <li><a href="#">May 2016</a></li>
                <li><a href="#">April 2016</a></li>
                <li><a href="#">March 2016</a></li>
            </ol>
        </div>

    </div>
</div>
