
<section>
    <div class="page-header text-center" id="rates">
        <h2>Course Rates & Membership<small></small></h2>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-md-4">

            <div class="card">
                <img class="card-img-top" src="~/Content/Images/sera-logo.png" alt="SERA image cap">
                <div class="card-block">
                    <p class="card-text">Individuals from Associate Companies MUST provide proof of employment or retirement from Associate Company at time of purchase. Prices subject to change without notice.</p>
                </div>
            </div>
            
            <div class="alert alert-success" role="alert">
                <strong>All packages </strong>include Green Fee, Cart, Range Balls, Tournament Set-up, and a $2 per person Pro Shop credit. Individuals from Associate Companies MUST provide proof of employment or retirement from Associate Company at time of purchase. Prices subject to change without notice.
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-success">
                <div class="panel-heading text-center">Monday Tee Time or Shotgun Start</div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Individuals with Golf Membership</td>
                                <td class="text-right">$30.00</td>
                            </tr>
                            <tr>
                                <td>Individuals from Associate Companies without Golf memberships</td>
                                <td class="text-right">$40.00</td>
                            </tr>
                            <tr>
                                <td>Sponsored Guests without Golf Memberships</td>
                                <td class="text-right">$45.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading text-center">Tuesday - Sunday Shotgun Start</div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Individuals with Golf Memberships</td>
                                <td class="text-right">$33.00</td>
                            </tr>
                            <tr>
                                <td>Individuals from Associate Companies without Golf Memberships</td>
                                <td class="text-right">$43.00</td>
                            </tr>
                            <tr>
                                <td>Sponsored Guests without Golf Memberships</td>
                                <td class="text-right">$48.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="panel panel-warning">
                <div class="panel-heading text-center">Tuesday - Sunday Shotgun Start</div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Individuals with Golf Membership</td>
                                <td class="text-right">$33.00</td>
                            </tr>
                            <tr>
                                <td>Individuals from Associate Companies without Golf Memberships</td>
                                <td class="text-right">$43.00</td>
                            </tr>
                            <tr>
                                <td>Sponsored Guests without Golf Memberships</td>
                                <td class="text-right">$48.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        </div>
    </div>
